.dmain {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.ques {
    max-width: 100%;
    margin: 10px;
    margin-left: 25px;
    padding: 10px 10px;
    background-color: rgb(255, 225, 185);
    color: black;
    border-radius: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 2;
    transition: 0.3s;
}

.ques:hover {
    box-shadow: 3px 3px 5px #757575;
}

.speak {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 10px;
    background-color: blue;
    padding: 0px 10px;
}

.speak:hover {
    color: black;
    box-shadow: 1px 1px 5px #000000;
}

.ans {
    max-width: 100%;
    margin: 10px;
    margin-left: 25px;
    padding: 10px 10px;
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    transition: 0.3s;
    position: relative;
}

.ans:hover {
    box-shadow: 3px 3px 5px #757575;
}

.code {
    margin: 20px;
    border-radius: 10px;
    background-color: #222222;
    padding-top: 30px;
    position: relative;
}
.head {
    position: absolute;
    top: 0px;
    left: 10px;
    color: rgb(121, 121, 121);
    font-size: 15px;
}

.code button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 1px solid rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    border-radius: 5px;
    padding: 2px 4px;
    background-color: #222222;
    cursor: pointer;
}

.code button:hover {
    color: rgb(255, 225, 185);
    border: 1px solid rgb(255, 225, 185);
}

.code pre {
    margin: 20px 0px !important;
    background-color: #000000 !important;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 0px !important;
}

@media screen and (width<=460px) {
    .ques {
        line-height: 1.5;
    }
    .ans {
        line-height: 1.5;
    }
}
