.dmain {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.ques {
    max-width: 100%;
    margin: 10px;
    margin-left: 25px;
    padding: 10px 10px;
    box-shadow: 3px 3px 5px #757575;
    background-color: rgb(255, 225, 185);
    color: black;
    border-radius: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 2;
    transition: 0.3s;
}

.speak {
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 5px;
    padding: 0px 6px;
}

.speak:hover {
    transform: scale(1.2);
    color: blue;
}

.ques:hover {
    transform: scale(1.02);
}

.ans {
    max-width: 100%;
    margin: 10px;
    margin-left: 25px;
    padding: 10px 10px;
    box-shadow: 3px 3px 5px #757575;
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 2;
    transition: 0.3s;
    position: relative;
}

.ans:hover {
    transform: scale(1.02);
}

@media screen and (width<=460px) {
    .ques {
        line-height: 1.5;
    }
    .ans {
        line-height: 1.5;
    }
}
