.pbody {
    max-width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #ccc;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.pbody:hover {
    box-shadow: 0px 0px 10px 1px #6d6d6d;
}

.lab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.pbody label {
    font-size: 15px;
    border: none;
    padding: 0px;
    text-align: left;
    margin-bottom: 0px;
    color: black;
}

.btns {
    align-self: center;
    margin: 10px;
}

.btns button {
    margin-left: 10px;
    color: white;
    background-color: rgb(0, 0, 255);
    font-size: 15px;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btns button:hover {
    background-color: rgb(0, 0, 199);
}
